@use "sass:color";
@import "variables";

body {
  margin: 0;
  background-color: #fff6ee;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  background-color: $col-primary;
  border-radius: 0 0 1rem 1rem;
}

h2 {
  font-weight: bold;
  font-size: 0.9rem;
}

h3 {
  font-size: 1.2rem;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

button {
  padding: 0.5rem 1.5rem;
  border: 1px solid #b68557;
  border-radius: 0.5rem;
  background-color: $col-primary;
  box-shadow: #00000088 2px 2px 2px 0;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: color.adjust($col-primary, $lightness: -5%);
    box-shadow: #00000088 0 0 2px 0;
  }
}