@import "variables";

.page-home {
  &__group-tile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem 2rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    background-color: #fff;
    border: 2px solid $col-secondary-shade;
    border-radius: 1rem;
    transition: background-color 0.3s;
    cursor: pointer;

    &--name {
      font-size: 1.6rem;
    }

    &:hover {
      background-color: $col-secondary;
    }
  }
}